* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.top {
  width: 100%;
  height: 15vh;
  background-color: #dddddd;
  padding: 1vh 0 0 1em;
}
.littleBlue {
  background-color: #6495ed;
  height: 13vh;
  width: 12%;
}
.words {
  width: 100%;
  padding: 1vh 2em 1vh 2em;
  font-size: 1v;
}
.blue {
  width: 100%;
  height: 15vh;
  background-color: #6495ed;
}
.aqua {
  width: 100%;
  height: 15vh;
  background-color: #7fffd4;
}
.green {
  width: 100%;
  height: 15vh;
  background-color: #8fbc8f;
}
.yellow {
  width: 100%;
  height: 15vh;
  background-color: #ffd700;
}
